#register-page-container {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

#register-header {
  position: fixed;
}

.register-section {
  padding-top: 65px;
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

#register-modal {
  width: 20vw;
  min-width: 300px;
  max-width: 400px;
  height: 70vh;
  border-radius: 10px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

#register-modal-header {
  width: 100%;
  font-size: 25px;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

form {
  width: 100%;
}

.register-required {
  font-size: 12px;
  margin-top: -35px;
  color: #FF3B30;
  user-select: none;
}

.register-modal-form-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 12px;
  gap: 10px;
  input {
    max-width: 100%;
    height: 30px;
    font-size: 15px;
    padding: 0px 10px;
    border: 1px #E5E5EA solid;
    outline: none;
    font-size: 12px;
  }
}

#register-modal-form-tos {
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 15px;
  input {
    width: 15px;
  }
  label {
    font-size: 12px;
  }
}

#register-form-continue {
  width: 100%;
  padding: 8px;
  border: none;
  cursor: pointer;
  background-color: #F2F2F7;
}

#register-form-continue:hover {
  background-color: #E5E5EA;
}

#register-modal-form-login-switch {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 12px;
  a {
    cursor: pointer;
  }
}